.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 10px;
}

.registerBtn {
  margin: 10px auto !important;
  width: max-content;
  padding: 10px 20px !important;
}
