.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 5px 10px;
  margin: 5px;

  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transform: scale(1);
  transition: all 200ms linear;
}

.contactItem:hover {
  border-color: var(--accent-color-transparent);
  transform: scale(1.05);
  cursor: pointer;
}

.contactItem:hover .icon {
  color: var(--accent-color-transparent);
}

.contactItem:hover .btnDelete,
.contactItem:hover .btnEdit {
  border-color: var(--accent-color-transparent) !important;
}

.icon {
  width: 40px;
  height: 40px;
  color: rgba(0, 0, 0, 0.54);

  transition: all 200ms linear;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
}

.contactName,
.contactNumber {
  margin: 5px 0;
  margin-right: 10px;
}

.btnList {
  display: flex;
  flex-direction: column;
}

.btnDelete {
  width: 64px;
  padding: 5px 10px !important;
  background-color: #fff !important;
  border-radius: 4px !important;
  border: 1px solid var(--border-color) !important;
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms linear;
}

.btnDelete:hover,
.btnDelete:focus {
  color: var(--warning-color);
  border-color: currentColor;
  transform: scale(1.1);
}

.btnEdit {
  composes: btnDelete;
  margin-bottom: 5px;
}

.btnEdit:hover,
.btnEdit:focus {
  color: var(--edit-color);
  border-color: currentColor;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .contactItem {
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .contactItem {
    width: 550px;
    max-width: 550px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: row;
  }

  .btnList {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .btnEdit {
    margin-bottom: 0;
    margin-right: 10px !important;
  }
}
