.contactItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 15px;

  color: var(--main-text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transform: scale(1);
  transition: all 200ms linear;
}

.contactItem:not(:last-child) {
  margin-bottom: 7px;
}

.contactItem:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.05);
  cursor: pointer;
}

.contactItem:hover .icon {
  color: var(--accent-color);
}

.contactItem:hover .btnDelete,
.contactItem:hover .btnEdit {
  border-color: var(--accent-color) !important;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  color: var(--icon-color);

  transition: all 200ms linear;
}

.infoWrapper {
  max-width: 272px;
  display: flex;
  flex-direction: column;
}

.contactName,
.contactNumber {
  margin: 5px 0;
  margin-right: 10px;
  line-height: 1.3;
}

.contactName {
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.contactNumber {
  min-width: 131px;
}

.btnList {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  color: var(--icon-color);
}

.btnDelete {
  width: 64px;
  padding: 5px 10px !important;
  background-color: var(--bg-color) !important;
  border-radius: 4px !important;
  border: 1px solid var(--border-color) !important;
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms linear;
}

.btnDelete:hover,
.btnDelete:focus {
  color: var(--warning-color);
  border-color: currentColor;
  transform: scale(1.1);
}

.btnEdit {
  composes: btnDelete;
  margin-bottom: 5px;
}

.btnEdit:hover,
.btnEdit:focus {
  color: var(--edit-color);
  border-color: currentColor;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .contactItem {
    width: calc((100% - 2 * 10px) / 2);
    margin-bottom: 0;
    margin: 5px;
  }

  .contactItem:not(:last-child) {
    margin-bottom: 5px;
  }

  .icon {
    margin-right: 15px;
  }

  .contactName {
    max-width: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .contactItem {
    width: calc((100% - 2 * 20px) / 2);
    margin-bottom: 0;
    margin: 10px;
  }

  .contactItem:not(:last-child) {
    margin-bottom: 10px;
  }

  .contactName {
    min-width: 120px;
    max-width: 120px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: row;
  }

  .btnList {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .btnEdit {
    margin-bottom: 0;
    margin-right: 10px !important;
  }
}
