.header {
  width: 100%;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-right: 10px;
}

.phonebookTitle {
  display: none;
}

@media screen and (min-width: 480px) {
  .phonebookTitle {
    display: block;
    font-size: 25px;
    font-weight: 500;
  }
}
