.header {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.phonebookLink {
  display: none;
}

@media screen and (min-width: 768px) {
  .phonebookLink {
    display: block;
    font-size: 25px;
    font-weight: 500;
  }
}
