@import 'modern-normalize/modern-normalize.css';

html[theme-type='light'] {
  --bg-color: #f0f8ff;
  --border-color: #d1d0d0;
  --warning-color: #d44444b6;
  --edit-color: #d4b244;
  --accent-color: #2e7fcf;
  --accent-color-transparent: #1a75cfb3;
}

html[theme-type='dark'] {
  --bg-color: #222267;
  --border-color: #d1d0d0;
  --warning-color: #d44444b6;
  --edit-color: #d4b244;
  --accent-color: #2e7fcf;
  --accent-color-transparent: #1a75cfb3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
}

body.modal-is-open {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.navLink {
  font-size: 20px;
  color: black;
}

.activeNavLink {
  composes: navLink;
  color: var(--accent-color);
}

.loader {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  opacity: 0.7;
}

.mainLoader {
  justify-content: center;
  align-items: center;
  margin: 40px auto;

  opacity: 0.7;
}

.sectionTitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.sectionTitleIsHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 780px) {
  .sectionTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .sectionTitle {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 25px;
  }
}
