.contactsList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .contactsList {
    width: calc(100% + 10px);
    margin: -5px;
  }
}

@media screen and (min-width: 1024px) {
  .contactsList {
    width: calc(100% + 20px);
    margin: -10px;
  }
}
